/******************
      GENERAL
******************/
body {
  background:#f4f4f4;
  font-family: "Arial", sans-serif;
  font-size: 2em;
  color: #666;
}
nav ul {
}

li {

}/**/

/******************
      CLASSES
******************/

/*.btn {
  width: 100%;
  font-size: 3em;
  margin-bottom: 20px;
}
.container {
  width:
  margin: 0px auto;
}
.selected {
  background-color: #000;
}*/
