/******************
      GENERAL
******************/
/*body {
  padding-top: 100px;
}
nav ul {
}

li {

}*/

/******************
      CLASSES
******************/
/*.btn {
  width: 100%;
  font-size: 3em;
  margin-bottom: 20px;
}
.container {
  width:
  margin: 0px auto;
}
.selected {
  background-color: #000;
}*/
